n8n/GhVq9mJBqD5i8ACO7CDsm__skill_coach.json
{
  "createdAt": "2026-02-19T16:04:27.034Z",
  "id": "GhVq9mJBqD5i8ACO7CDsm",
  "name": "Skill Coach",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "skill-coach",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b6b6a32d-8247-4af4-99d3-736beff67a09",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        128
      ],
      "webhookId": "skill-coach-webhook-id",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y2M2gm8PMqf8Owkp",
          "name": "Auth Header"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "showWelcomeScreen": false
        }
      },
      "id": "6e8edbd8-be76-45fb-bfc8-4e2d3b9a05bd",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -480,
        -80
      ],
      "webhookId": "skill-coach-chat-trigger-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "831fa55e-12b7-4328-b762-8ea5d690dd93",
              "name": "test_user_id",
              "value": "aef5c843-a2f5-423b-8c7e-676777ef231f",
              "type": "string"
            },
            {
              "id": "6f9234d0-10e8-447e-b310-c86c06f5f398",
              "name": "test_workspace_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "f95d73dc-abf4-4389-a9c9-6cbefe6e9ba8",
              "name": "test_skill_id",
              "value": "draft",
              "type": "string"
            },
            {
              "id": "99f5755c-9f5c-40a6-a932-1454f9638d76",
              "name": "test_mode",
              "value": "chat_only",
              "type": "string"
            },
            {
              "id": "45c95ca4-8ecf-4773-a3d0-c5a07042257c",
              "name": "test_message",
              "value": "={{ $json.chatInput || 'Can you help me improve this skill?' }}",
              "type": "string"
            },
            {
              "id": "29f8bd5c-c329-40af-b6fb-2f84d4afcc23",
              "name": "test_canvas_content",
              "value": "You are an expert assistant. When answering questions, follow a chain-of-thought approach: first reason step by step, then provide a concise final answer.",
              "type": "string"
            },
            {
              "id": "89d8dc15-3d09-4c4e-aefe-f67b7f4b72dd",
              "name": "test_selection",
              "value": "={{ null }}",
              "type": "object"
            },
            {
              "id": "5a8d5220-a03f-4483-b744-d7f32f9dc7f4",
              "name": "test_session_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dc6c4b9b-30dc-4805-b67d-fb3d9545546a",
      "name": "Test Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f43744f-823f-4481-849f-b4b7f4f06ea8",
              "name": "user_id",
              "value": "={{ $json.body?.user_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_user_id : '') }}",
              "type": "string"
            },
            {
              "id": "ddd26bcb-9b0d-4e6e-9fcb-f3fef69c592c",
              "name": "workspace_id",
              "value": "={{ $json.body?.workspace_id ?? ($('Test Config').isExecuted ? $('Test Config').item.json.test_workspace_id : '') }}",
              "type": "string"
            },
            {
              "id": "7e73ebbe-4f93-4a67-97b3-4940279cab00",
              "name": "artifact_type",
              "value": "={{ $json.body?.artifact_type || 'skill' }}",
              "type": "string"
            },
            {
              "id": "4d72f06e-cf33-47d1-be6e-028f84e7ec7e",
              "name": "skill_id",
              "value": "={{ $json.body?.skill_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_skill_id : 'draft') || 'draft' }}",
              "type": "string"
            },
            {
              "id": "98f83ea7-70f1-481b-a7fb-530fbcfb50c7",
              "name": "mode",
              "value": "={{ $json.body?.mode || ($('Test Config').isExecuted ? $('Test Config').item.json.test_mode : 'chat_only') || 'chat_only' }}",
              "type": "string"
            },
            {
              "id": "5e50c250-4a4d-476c-a3ef-ec6783d6faeb",
              "name": "message",
              "value": "={{ $json.body?.message || ($('Test Config').isExecuted ? $('Test Config').item.json.test_message : '') }}",
              "type": "string"
            },
            {
              "id": "0c9185d8-0202-493c-8681-653130f29511",
              "name": "canvas_content",
              "value": "={{ $json.body?.canvas_content || ($('Test Config').isExecuted ? $('Test Config').item.json.test_canvas_content : '') }}",
              "type": "string"
            },
            {
              "id": "a4424ad8-2b77-4f99-90a5-479f26237ed7",
              "name": "selection",
              "value": "={{ $json.body?.selection ?? ($('Test Config').isExecuted ? $('Test Config').item.json.test_selection : null) }}",
              "type": "object"
            },
            {
              "id": "6e71e2f7-825f-42cc-a193-4479f24d94dd",
              "name": "provider",
              "value": "openrouter",
              "type": "string"
            },
            {
              "id": "f3e8bb87-f9e7-4a95-87cb-7a303ef5f864",
              "name": "model",
              "value": "openai/gpt-5.2-chat",
              "type": "string"
            },
            {
              "id": "82daa95f-17f5-4c56-be87-0d8ea2f903a3",
              "name": "session_id",
              "value": "={{ $json.body?.session_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_session_id : '') || `${($json.body?.workspace_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_workspace_id : '') || 'personal')}:${($json.body?.user_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_user_id : ''))}:${($json.body?.skill_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_skill_id : 'draft') || 'draft')}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b634795-e9d7-4b3b-af8e-54455b8db083",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        32
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Config').item.json.session_id }}",
        "tableName": "prompt_coach_messages",
        "contextWindowLength": 12
      },
      "id": "528fe93b-288a-457a-8fc9-d6fde879544c",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        448,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "CyI690FAp59G2LzY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"assistantMessage\": { \"type\": \"string\" },\n    \"canvas\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"updated\": { \"type\": \"boolean\" },\n        \"content\": { \"type\": \"string\" },\n        \"changeNote\": { \"type\": \"string\" }\n      },\n      \"required\": [\"updated\"]\n    }\n  },\n  \"required\": [\"assistantMessage\", \"canvas\"]\n}",
        "autoFix": true,
        "customizeRetryPrompt": true,
        "prompt": "=If your output was wrapped in an extra key (likely \"output\"), remove all wrapper keys. Return ONLY a raw JSON object with \"assistantMessage\" and \"canvas\" as top-level keys. Do NOT wrap your response in an \"output\" key.\n\nInstructions: {instructions}\n\nCompletion: {completion}\n\nError: {error}\n\nPlease try again. Only respond with an answer that satisfies the constraints laid out in the Instructions."
      },
      "id": "5e0c5406-b2db-4ea2-a5c0-cad660cfa5a9",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=mode: {{ $('Config').item.json.mode }}\n\nuser_message:\n{{ $('Config').item.json.message }}\n\ncurrent_canvas_content:\n{{ $('Config').item.json.canvas_content }}\n\nselection:\n{{ JSON.stringify($('Config').item.json.selection) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are \"Skill Coach\", an expert LLM framework designer helping users write and refine skills.\nA \"skill\" in Querino is a reusable LLM prompt framework — such as a structured system prompt, a chain-of-thought template, a role definition, or a multi-step reasoning guide — that can be applied across many tasks.\n\nYou always receive:\n- mode: \"chat_only\" or \"collab_edit\"\n- message: the user's request\n- canvas_content: the full current skill text\n- optional selection\n\nYou have access to a SerpAPI web search tool.\n\nWhen using SerpAPI web search:\n- Extract only key search terms from the user's question\n- Add relevant context (year, domain) if applicable\n- Keep queries concise and keyword-focused\n- Example: Instead of searching full sentences, search \"chain-of-thought prompting best practices 2026\"\n\n----------------------------------------\nCRITICAL OUTPUT RULE — READ CAREFULLY\n----------------------------------------\n\nYou MUST produce your FINAL ANSWER by passing it to the Structured Output Parser tool.\nYour final answer MUST be a raw JSON object that matches the parser schema EXACTLY at the ROOT level.\n\nFORBIDDEN — NEVER wrap your answer like this:\n  { \"output\": { \"assistantMessage\": \"...\", \"canvas\": { ... } } }\n\nCORRECT — ALWAYS output like this:\n  { \"assistantMessage\": \"...\", \"canvas\": { \"updated\": false } }\n\nThe very first character of your final answer must be { and assistantMessage must be a top-level key.\nDo NOT output normal text as the final answer.\nDo NOT use Markdown code blocks.\nDo NOT add any wrapper keys such as \"output\", \"response\", \"result\", or \"data\".\n\n----------------------------------------\nWEB SEARCH POLICY\n----------------------------------------\n\nYou may use the SerpAPI search tool ONLY if external, factual, or up-to-date information is required to answer properly.\n\nUse search when:\n- The user explicitly asks for current information (e.g., \"latest\", \"current\", \"recent\").\n- The skill references specific APIs, frameworks, tools, or best practices that may have evolved.\n- Accurate factual data is required to improve the skill.\n\nDo NOT use search when:\n- Improving wording, clarity, tone, formatting, structure, or logic.\n- The request is purely stylistic or structural.\n- The answer can be derived from the canvas content and general knowledge.\n\nIf search is used:\n- Keep the number of searches minimal.\n- Extract only relevant information.\n- Do not include raw search result dumps.\n- Integrate findings cleanly into your reasoning.\n- Do NOT mention internal tool calls in the final output.\n\n----------------------------------------\nMODE RULES\n----------------------------------------\n\nIf mode == \"chat_only\":\n- Do NOT modify the canvas.\n- If the user asks you to change/rewrite/restructure the skill, explain that edits are disabled in Chat mode and they should switch to Edit mode.\n- You may suggest improvements verbally.\n- canvas must be: { \"updated\": false }\n\nIf mode == \"collab_edit\":\n- You MAY modify the canvas.\n- If you apply changes:\n  - canvas.updated = true\n  - canvas.content = FULL updated canvas text (no diffs)\n  - canvas.changeNote = short summary of what you changed\n- If no changes are necessary:\n  - canvas.updated = false\n\n----------------------------------------\nGENERAL RULES\n----------------------------------------\n\n- Preserve original intent unless explicitly told otherwise.\n- Keep edits minimal and safe.\n- Never return diffs.\n- Skills can be long — focus on structure, clarity, and reusability.\n- If search was used, ensure the response remains concise and focused.\n"
        }
      },
      "id": "7cbf0552-69b5-42cf-b9da-bae7dada4e21",
      "name": "Skill Coach Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        32
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f95c8fa6-0133-4435-b4a4-dbc480148fe2",
              "name": "assistantMessage",
              "value": "={{ $json.output?.assistantMessage || $json.assistantMessage || '' }}",
              "type": "string"
            },
            {
              "id": "a23b37c3-9817-4344-9458-1407c23f6c08",
              "name": "canvas",
              "value": "={{ $('Config').item.json.mode === 'chat_only' ? { updated: false } : (($json.output?.canvas || $json.canvas || {}).updated ? { updated: true, content: ($json.output?.canvas?.content || $json.canvas?.content || ''), changeNote: ($json.output?.canvas?.changeNote || $json.canvas?.changeNote || '') } : { updated: false }) }}",
              "type": "object"
            },
            {
              "id": "187ef291-9392-4ec1-b20f-fca576fd4ac5",
              "name": "session",
              "value": "={{ { id: $('Config').item.json.session_id } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "8268c357-4d2c-4701-a630-2bcc114aa816",
      "name": "Build Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -80
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { assistantMessage: ($('Build Response').isExecuted ? $('Build Response').item.json.assistantMessage : $('Build Response Error').item.json.assistantMessage), canvas: ($('Build Response').isExecuted ? $('Build Response').item.json.canvas : $('Build Response Error').item.json.canvas), session: ($('Build Response').isExecuted ? $('Build Response').item.json.session : $('Build Response Error').item.json.session) } }}",
        "options": {}
      },
      "id": "89403c8b-8f8f-492b-a904-3bd03bd5469b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1520,
        32
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3H8d67oO7uOGswkPWASZL",
          "mode": "list",
          "cachedResultUrl": "/workflow/3H8d67oO7uOGswkPWASZL",
          "cachedResultName": "Update Token Usage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $execution.id }}",
            "user_id": "={{ $('Config').item.json.user_id }}",
            "provider": "={{ $('Config').item.json.provider }}",
            "model": "={{ $('Config').item.json.model }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "3279a66a-63eb-4030-90fc-d78b26a1077d",
      "name": "Call Update Token Usage",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1296,
        -240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "assistantMessage",
              "value": "I apologize, but I encountered an error while processing your request. Please try again or rephrase your message.",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "canvas",
              "value": "={{ { updated: false } }}",
              "type": "object"
            },
            {
              "id": "id-3",
              "name": "session",
              "value": "={{ { id: $('Config').item.json.session_id } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "66633205-035c-434d-8e6f-c63a646ea3eb",
      "name": "Build Response Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        96
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        576,
        256
      ],
      "id": "a69b086d-d37f-4956-b000-d12771d35a2b",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "RMwYDoSL8zn4eQOq",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        256
      ],
      "id": "764f5fa1-f1fb-456a-9468-956ec4c9bf02",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8CuSxQ6wXk1W313i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5.2-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        192,
        256
      ],
      "id": "a184ade4-3c47-470d-be61-bbbc4cfdd144",
      "name": "Azure gpt-5.2-chat",
      "credentials": {
        "azureOpenAiApi": {
          "id": "sxHNB4I1TmPFfLdr",
          "name": "Azure gpt-5.2-chat"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5.2-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        784,
        464
      ],
      "id": "00444d53-1225-4ff7-bfd9-f80a41718610",
      "name": "Azure gpt-5.2-chat Parser",
      "credentials": {
        "azureOpenAiApi": {
          "id": "sxHNB4I1TmPFfLdr",
          "name": "Azure gpt-5.2-chat"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Test Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Config": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Skill Coach Agent": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Update Token Usage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure gpt-5.2-chat": {
      "ai_languageModel": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Azure gpt-5.2-chat Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": "7af31b76-2930-4016-9128-9fb3af412e96",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-19T16:04:27.038Z",
      "createdAt": "2026-02-19T16:04:27.038Z",
      "role": "workflow:owner",
      "workflowId": "GhVq9mJBqD5i8ACO7CDsm",
      "projectId": "KAIlKHCcR6KpTc3t"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-21T19:15:00.000Z",
    "createdAt": "2026-02-21T19:14:58.444Z",
    "versionId": "7af31b76-2930-4016-9128-9fb3af412e96",
    "workflowId": "GhVq9mJBqD5i8ACO7CDsm",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "skill-coach",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "b6b6a32d-8247-4af4-99d3-736beff67a09",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -256,
          128
        ],
        "webhookId": "skill-coach-webhook-id",
        "credentials": {
          "httpHeaderAuth": {
            "id": "Y2M2gm8PMqf8Owkp",
            "name": "Auth Header"
          }
        }
      },
      {
        "parameters": {
          "public": true,
          "options": {
            "showWelcomeScreen": false
          }
        },
        "id": "6e8edbd8-be76-45fb-bfc8-4e2d3b9a05bd",
        "name": "Chat Trigger",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -480,
          -80
        ],
        "webhookId": "skill-coach-chat-trigger-id"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "831fa55e-12b7-4328-b762-8ea5d690dd93",
                "name": "test_user_id",
                "value": "aef5c843-a2f5-423b-8c7e-676777ef231f",
                "type": "string"
              },
              {
                "id": "6f9234d0-10e8-447e-b310-c86c06f5f398",
                "name": "test_workspace_id",
                "value": "",
                "type": "string"
              },
              {
                "id": "f95d73dc-abf4-4389-a9c9-6cbefe6e9ba8",
                "name": "test_skill_id",
                "value": "draft",
                "type": "string"
              },
              {
                "id": "99f5755c-9f5c-40a6-a932-1454f9638d76",
                "name": "test_mode",
                "value": "chat_only",
                "type": "string"
              },
              {
                "id": "45c95ca4-8ecf-4773-a3d0-c5a07042257c",
                "name": "test_message",
                "value": "={{ $json.chatInput || 'Can you help me improve this skill?' }}",
                "type": "string"
              },
              {
                "id": "29f8bd5c-c329-40af-b6fb-2f84d4afcc23",
                "name": "test_canvas_content",
                "value": "You are an expert assistant. When answering questions, follow a chain-of-thought approach: first reason step by step, then provide a concise final answer.",
                "type": "string"
              },
              {
                "id": "89d8dc15-3d09-4c4e-aefe-f67b7f4b72dd",
                "name": "test_selection",
                "value": "={{ null }}",
                "type": "object"
              },
              {
                "id": "5a8d5220-a03f-4483-b744-d7f32f9dc7f4",
                "name": "test_session_id",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "dc6c4b9b-30dc-4805-b67d-fb3d9545546a",
        "name": "Test Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -256,
          -80
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0f43744f-823f-4481-849f-b4b7f4f06ea8",
                "name": "user_id",
                "value": "={{ $json.body?.user_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_user_id : '') }}",
                "type": "string"
              },
              {
                "id": "ddd26bcb-9b0d-4e6e-9fcb-f3fef69c592c",
                "name": "workspace_id",
                "value": "={{ $json.body?.workspace_id ?? ($('Test Config').isExecuted ? $('Test Config').item.json.test_workspace_id : '') }}",
                "type": "string"
              },
              {
                "id": "7e73ebbe-4f93-4a67-97b3-4940279cab00",
                "name": "artifact_type",
                "value": "={{ $json.body?.artifact_type || 'skill' }}",
                "type": "string"
              },
              {
                "id": "4d72f06e-cf33-47d1-be6e-028f84e7ec7e",
                "name": "skill_id",
                "value": "={{ $json.body?.skill_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_skill_id : 'draft') || 'draft' }}",
                "type": "string"
              },
              {
                "id": "98f83ea7-70f1-481b-a7fb-530fbcfb50c7",
                "name": "mode",
                "value": "={{ $json.body?.mode || ($('Test Config').isExecuted ? $('Test Config').item.json.test_mode : 'chat_only') || 'chat_only' }}",
                "type": "string"
              },
              {
                "id": "5e50c250-4a4d-476c-a3ef-ec6783d6faeb",
                "name": "message",
                "value": "={{ $json.body?.message || ($('Test Config').isExecuted ? $('Test Config').item.json.test_message : '') }}",
                "type": "string"
              },
              {
                "id": "0c9185d8-0202-493c-8681-653130f29511",
                "name": "canvas_content",
                "value": "={{ $json.body?.canvas_content || ($('Test Config').isExecuted ? $('Test Config').item.json.test_canvas_content : '') }}",
                "type": "string"
              },
              {
                "id": "a4424ad8-2b77-4f99-90a5-479f26237ed7",
                "name": "selection",
                "value": "={{ $json.body?.selection ?? ($('Test Config').isExecuted ? $('Test Config').item.json.test_selection : null) }}",
                "type": "object"
              },
              {
                "id": "6e71e2f7-825f-42cc-a193-4479f24d94dd",
                "name": "provider",
                "value": "openrouter",
                "type": "string"
              },
              {
                "id": "f3e8bb87-f9e7-4a95-87cb-7a303ef5f864",
                "name": "model",
                "value": "openai/gpt-5.2-chat",
                "type": "string"
              },
              {
                "id": "82daa95f-17f5-4c56-be87-0d8ea2f903a3",
                "name": "session_id",
                "value": "={{ $json.body?.session_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_session_id : '') || `${($json.body?.workspace_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_workspace_id : '') || 'personal')}:${($json.body?.user_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_user_id : ''))}:${($json.body?.skill_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_skill_id : 'draft') || 'draft')}` }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "7b634795-e9d7-4b3b-af8e-54455b8db083",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -32,
          32
        ],
        "retryOnFail": true,
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Config').item.json.session_id }}",
          "tableName": "prompt_coach_messages",
          "contextWindowLength": 12
        },
        "id": "528fe93b-288a-457a-8fc9-d6fde879544c",
        "name": "Postgres Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          448,
          256
        ],
        "credentials": {
          "postgres": {
            "id": "CyI690FAp59G2LzY",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"assistantMessage\": { \"type\": \"string\" },\n    \"canvas\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"updated\": { \"type\": \"boolean\" },\n        \"content\": { \"type\": \"string\" },\n        \"changeNote\": { \"type\": \"string\" }\n      },\n      \"required\": [\"updated\"]\n    }\n  },\n  \"required\": [\"assistantMessage\", \"canvas\"]\n}",
          "autoFix": true,
          "customizeRetryPrompt": true,
          "prompt": "=If your output was wrapped in an extra key (likely \"output\"), remove all wrapper keys. Return ONLY a raw JSON object with \"assistantMessage\" and \"canvas\" as top-level keys. Do NOT wrap your response in an \"output\" key.\n\nInstructions: {instructions}\n\nCompletion: {completion}\n\nError: {error}\n\nPlease try again. Only respond with an answer that satisfies the constraints laid out in the Instructions."
        },
        "id": "5e0c5406-b2db-4ea2-a5c0-cad660cfa5a9",
        "name": "Structured Output Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          704,
          256
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=mode: {{ $('Config').item.json.mode }}\n\nuser_message:\n{{ $('Config').item.json.message }}\n\ncurrent_canvas_content:\n{{ $('Config').item.json.canvas_content }}\n\nselection:\n{{ JSON.stringify($('Config').item.json.selection) }}",
          "hasOutputParser": true,
          "needsFallback": true,
          "options": {
            "systemMessage": "You are \"Skill Coach\", an expert LLM framework designer helping users write and refine skills.\nA \"skill\" in Querino is a reusable LLM prompt framework — such as a structured system prompt, a chain-of-thought template, a role definition, or a multi-step reasoning guide — that can be applied across many tasks.\n\nYou always receive:\n- mode: \"chat_only\" or \"collab_edit\"\n- message: the user's request\n- canvas_content: the full current skill text\n- optional selection\n\nYou have access to a SerpAPI web search tool.\n\nWhen using SerpAPI web search:\n- Extract only key search terms from the user's question\n- Add relevant context (year, domain) if applicable\n- Keep queries concise and keyword-focused\n- Example: Instead of searching full sentences, search \"chain-of-thought prompting best practices 2026\"\n\n----------------------------------------\nCRITICAL OUTPUT RULE — READ CAREFULLY\n----------------------------------------\n\nYou MUST produce your FINAL ANSWER by passing it to the Structured Output Parser tool.\nYour final answer MUST be a raw JSON object that matches the parser schema EXACTLY at the ROOT level.\n\nFORBIDDEN — NEVER wrap your answer like this:\n  { \"output\": { \"assistantMessage\": \"...\", \"canvas\": { ... } } }\n\nCORRECT — ALWAYS output like this:\n  { \"assistantMessage\": \"...\", \"canvas\": { \"updated\": false } }\n\nThe very first character of your final answer must be { and assistantMessage must be a top-level key.\nDo NOT output normal text as the final answer.\nDo NOT use Markdown code blocks.\nDo NOT add any wrapper keys such as \"output\", \"response\", \"result\", or \"data\".\n\n----------------------------------------\nWEB SEARCH POLICY\n----------------------------------------\n\nYou may use the SerpAPI search tool ONLY if external, factual, or up-to-date information is required to answer properly.\n\nUse search when:\n- The user explicitly asks for current information (e.g., \"latest\", \"current\", \"recent\").\n- The skill references specific APIs, frameworks, tools, or best practices that may have evolved.\n- Accurate factual data is required to improve the skill.\n\nDo NOT use search when:\n- Improving wording, clarity, tone, formatting, structure, or logic.\n- The request is purely stylistic or structural.\n- The answer can be derived from the canvas content and general knowledge.\n\nIf search is used:\n- Keep the number of searches minimal.\n- Extract only relevant information.\n- Do not include raw search result dumps.\n- Integrate findings cleanly into your reasoning.\n- Do NOT mention internal tool calls in the final output.\n\n----------------------------------------\nMODE RULES\n----------------------------------------\n\nIf mode == \"chat_only\":\n- Do NOT modify the canvas.\n- If the user asks you to change/rewrite/restructure the skill, explain that edits are disabled in Chat mode and they should switch to Edit mode.\n- You may suggest improvements verbally.\n- canvas must be: { \"updated\": false }\n\nIf mode == \"collab_edit\":\n- You MAY modify the canvas.\n- If you apply changes:\n  - canvas.updated = true\n  - canvas.content = FULL updated canvas text (no diffs)\n  - canvas.changeNote = short summary of what you changed\n- If no changes are necessary:\n  - canvas.updated = false\n\n----------------------------------------\nGENERAL RULES\n----------------------------------------\n\n- Preserve original intent unless explicitly told otherwise.\n- Keep edits minimal and safe.\n- Never return diffs.\n- Skills can be long — focus on structure, clarity, and reusability.\n- If search was used, ensure the response remains concise and focused.\n"
          }
        },
        "id": "7cbf0552-69b5-42cf-b9da-bae7dada4e21",
        "name": "Skill Coach Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          352,
          32
        ],
        "retryOnFail": true,
        "alwaysOutputData": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f95c8fa6-0133-4435-b4a4-dbc480148fe2",
                "name": "assistantMessage",
                "value": "={{ $json.output?.assistantMessage || $json.assistantMessage || '' }}",
                "type": "string"
              },
              {
                "id": "a23b37c3-9817-4344-9458-1407c23f6c08",
                "name": "canvas",
                "value": "={{ $('Config').item.json.mode === 'chat_only' ? { updated: false } : (($json.output?.canvas || $json.canvas || {}).updated ? { updated: true, content: ($json.output?.canvas?.content || $json.canvas?.content || ''), changeNote: ($json.output?.canvas?.changeNote || $json.canvas?.changeNote || '') } : { updated: false }) }}",
                "type": "object"
              },
              {
                "id": "187ef291-9392-4ec1-b20f-fca576fd4ac5",
                "name": "session",
                "value": "={{ { id: $('Config').item.json.session_id } }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "8268c357-4d2c-4701-a630-2bcc114aa816",
        "name": "Build Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1072,
          -80
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { assistantMessage: ($('Build Response').isExecuted ? $('Build Response').item.json.assistantMessage : $('Build Response Error').item.json.assistantMessage), canvas: ($('Build Response').isExecuted ? $('Build Response').item.json.canvas : $('Build Response Error').item.json.canvas), session: ($('Build Response').isExecuted ? $('Build Response').item.json.session : $('Build Response Error').item.json.session) } }}",
          "options": {}
        },
        "id": "89403c8b-8f8f-492b-a904-3bd03bd5469b",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1520,
          32
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "3H8d67oO7uOGswkPWASZL",
            "mode": "list",
            "cachedResultUrl": "/workflow/3H8d67oO7uOGswkPWASZL",
            "cachedResultName": "Update Token Usage"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "execution_id": "={{ $execution.id }}",
              "user_id": "={{ $('Config').item.json.user_id }}",
              "provider": "={{ $('Config').item.json.provider }}",
              "model": "={{ $('Config').item.json.model }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "execution_id",
                "displayName": "execution_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "provider",
                "displayName": "provider",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "model",
                "displayName": "model",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "id": "3279a66a-63eb-4030-90fc-d78b26a1077d",
        "name": "Call Update Token Usage",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1296,
          -240
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id-1",
                "name": "assistantMessage",
                "value": "I apologize, but I encountered an error while processing your request. Please try again or rephrase your message.",
                "type": "string"
              },
              {
                "id": "id-2",
                "name": "canvas",
                "value": "={{ { updated: false } }}",
                "type": "object"
              },
              {
                "id": "id-3",
                "name": "session",
                "value": "={{ { id: $('Config').item.json.session_id } }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "66633205-035c-434d-8e6f-c63a646ea3eb",
        "name": "Build Response Error",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1296,
          96
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
        "typeVersion": 1,
        "position": [
          576,
          256
        ],
        "id": "a69b086d-d37f-4956-b000-d12771d35a2b",
        "name": "SerpAPI",
        "credentials": {
          "serpApi": {
            "id": "RMwYDoSL8zn4eQOq",
            "name": "SerpAPI account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          320,
          256
        ],
        "id": "764f5fa1-f1fb-456a-9468-956ec4c9bf02",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "8CuSxQ6wXk1W313i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": "gpt-5.2-chat",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
        "typeVersion": 1,
        "position": [
          192,
          256
        ],
        "id": "a184ade4-3c47-470d-be61-bbbc4cfdd144",
        "name": "Azure gpt-5.2-chat",
        "credentials": {
          "azureOpenAiApi": {
            "id": "sxHNB4I1TmPFfLdr",
            "name": "Azure gpt-5.2-chat"
          }
        }
      },
      {
        "parameters": {
          "model": "gpt-5.2-chat",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
        "typeVersion": 1,
        "position": [
          784,
          464
        ],
        "id": "00444d53-1225-4ff7-bfd9-f80a41718610",
        "name": "Azure gpt-5.2-chat Parser",
        "credentials": {
          "azureOpenAiApi": {
            "id": "sxHNB4I1TmPFfLdr",
            "name": "Azure gpt-5.2-chat"
          }
        }
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chat Trigger": {
        "main": [
          [
            {
              "node": "Test Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Test Config": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Skill Coach Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Skill Coach Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Skill Coach Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "SerpAPI": {
        "ai_tool": [
          [
            {
              "node": "Skill Coach Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Skill Coach Agent": {
        "main": [
          [
            {
              "node": "Build Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Response Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call Update Token Usage",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Response Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Response Error": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Azure gpt-5.2-chat": {
        "ai_languageModel": [
          [
            {
              "node": "Skill Coach Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Skill Coach Agent",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Azure gpt-5.2-chat Parser": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Michael Zelbel",
    "name": "Version 7af31b76",
    "description": "",
    "autosaved": false
  },
  "tags": []
}