n8n/Prompt Coach.json
{
  "name": "Prompt Coach",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prompt-coach",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b90aa680-c74c-4327-9130-a821e55790b4",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3600,
        1888
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y2M2gm8PMqf8Owkp",
          "name": "Auth Header"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "showWelcomeScreen": false
        }
      },
      "id": "8e8b0e1c-6bb6-4d00-a21f-a4d0b8810fef",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        3600,
        2096
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "831fa55e-12b7-4328-b762-8ea5d690dd93",
              "name": "test_user_id",
              "value": "aef5c843-a2f5-423b-8c7e-676777ef231f",
              "type": "string"
            },
            {
              "id": "6f9234d0-10e8-447e-b310-c86c06f5f398",
              "name": "test_workspace_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "f95d73dc-abf4-4389-a9c9-6cbefe6e9ba8",
              "name": "test_prompt_id",
              "value": "draft",
              "type": "string"
            },
            {
              "id": "99f5755c-9f5c-40a6-a932-1454f9638d76",
              "name": "test_mode",
              "value": "chat_only",
              "type": "string"
            },
            {
              "id": "45c95ca4-8ecf-4773-a3d0-c5a07042257c",
              "name": "test_message",
              "value": "={{ $json.chatInput || 'Can you improve this prompt?' }}",
              "type": "string"
            },
            {
              "id": "29f8bd5c-c329-40af-b6fb-2f84d4afcc23",
              "name": "test_canvas_content",
              "value": "You are a helpful assistant. Answer the user briefly.",
              "type": "string"
            },
            {
              "id": "89d8dc15-3d09-4c4e-aefe-f67b7f4b72dd",
              "name": "test_selection",
              "value": "={{ null }}",
              "type": "object"
            },
            {
              "id": "5a8d5220-a03f-4483-b744-d7f32f9dc7f4",
              "name": "test_session_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "60cebb15-c2ab-4c8c-b7f2-39281f9682cd",
      "name": "Test Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3792,
        2096
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f43744f-823f-4481-849f-b4b7f4f06ea8",
              "name": "user_id",
              "value": "={{ $json.body?.user_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_user_id : '') }}",
              "type": "string"
            },
            {
              "id": "ddd26bcb-9b0d-4e6e-9fcb-f3fef69c592c",
              "name": "workspace_id",
              "value": "={{ $json.body?.workspace_id ?? ($('Test Config').isExecuted ? $('Test Config').item.json.test_workspace_id : '') }}",
              "type": "string"
            },
            {
              "id": "7e73ebbe-4f93-4a67-97b3-4940279cab00",
              "name": "artifact_type",
              "value": "={{ $json.body?.artifact_type || 'prompt' }}",
              "type": "string"
            },
            {
              "id": "4d72f06e-cf33-47d1-be6e-028f84e7ec7e",
              "name": "prompt_id",
              "value": "={{ $json.body?.prompt_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_prompt_id : 'draft') || 'draft' }}",
              "type": "string"
            },
            {
              "id": "98f83ea7-70f1-481b-a7fb-530fbcfb50c7",
              "name": "mode",
              "value": "={{ $json.body?.mode || ($('Test Config').isExecuted ? $('Test Config').item.json.test_mode : 'chat_only') || 'chat_only' }}",
              "type": "string"
            },
            {
              "id": "5e50c250-4a4d-476c-a3ef-ec6783d6faeb",
              "name": "message",
              "value": "={{ $json.body?.message || ($('Test Config').isExecuted ? $('Test Config').item.json.test_message : '') }}",
              "type": "string"
            },
            {
              "id": "0c9185d8-0202-493c-8681-653130f29511",
              "name": "canvas_content",
              "value": "={{ $json.body?.canvas_content || ($('Test Config').isExecuted ? $('Test Config').item.json.test_canvas_content : '') }}",
              "type": "string"
            },
            {
              "id": "a4424ad8-2b77-4f99-90a5-479f26237ed7",
              "name": "selection",
              "value": "={{ $json.body?.selection ?? ($('Test Config').isExecuted ? $('Test Config').item.json.test_selection : null) }}",
              "type": "object"
            },
            {
              "id": "6e71e2f7-825f-42cc-a193-4479f24d94dd",
              "name": "provider",
              "value": "openrouter",
              "type": "string"
            },
            {
              "id": "f3e8bb87-f9e7-4a95-87cb-7a303ef5f864",
              "name": "model",
              "value": "openai/gpt-4o-mini",
              "type": "string"
            },
            {
              "id": "82daa95f-17f5-4c56-be87-0d8ea2f903a3",
              "name": "session_id",
              "value": "={{ $json.body?.session_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_session_id : '') || `${($json.body?.workspace_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_workspace_id : '') || 'personal')}:${($json.body?.user_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_user_id : ''))}:${($json.body?.prompt_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_prompt_id : 'draft') || 'draft')}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bc95d8bf-ac2d-48a5-8730-3626f871ed4f",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3984,
        1888
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Config').item.json.session_id }}",
        "tableName": "prompt_coach_messages",
        "contextWindowLength": 12
      },
      "id": "89d95a4a-f0b1-4ece-94ea-4f3998e01dca",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4224,
        2112
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "f6c26336-4501-4cc4-9a35-db5ee43f6327",
      "name": "OpenRouter LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4416,
        2112
      ],
      "credentials": {
        "openRouterApi": {
          "id": "MGQPWNIqP5IqzT9c",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"assistantMessage\": { \"type\": \"string\" },\n    \"canvas\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"updated\": { \"type\": \"boolean\" },\n        \"content\": { \"type\": \"string\" },\n        \"changeNote\": { \"type\": \"string\" }\n      },\n      \"required\": [\"updated\"]\n    }\n  },\n  \"required\": [\"assistantMessage\", \"canvas\"]\n}"
      },
      "id": "765df4c4-c7c3-4066-b447-ae35cd58a3c9",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4608,
        2112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=mode: {{ $('Config').item.json.mode }}\n\nuser_message:\n{{ $('Config').item.json.message }}\n\ncurrent_canvas_content:\n{{ $('Config').item.json.canvas_content }}\n\nselection:\n{{ JSON.stringify($('Config').item.json.selection) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are \"Prompt Coach\", an expert prompt engineer helping the user refine prompts.\nYou always see the current prompt canvas content.\nYou must follow the selected mode:\n- chat_only: explain, ask clarifying questions, suggest improvements, but DO NOT modify the canvas.\n- collab_edit: you MAY modify the canvas. Keep original intent, make minimal/safe improvements.\n\nYou MUST return ONLY valid JSON matching the Response Contract schema.\nNever return diffs. If updating, return the full updated canvas text.\n\nAdditional rules:\n- If mode is chat_only, return canvas.updated=false and do not provide canvas.content.\n- If mode is collab_edit and prompt is updated, set canvas.updated=true and provide full updated canvas in canvas.content.\n- If mode is collab_edit and no changes are needed, return canvas.updated=false."
        }
      },
      "id": "79abdcdb-917f-4794-801d-d28089aa2b81",
      "name": "Prompt Coach Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4416,
        1888
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f95c8fa6-0133-4435-b4a4-dbc480148fe2",
              "name": "assistantMessage",
              "value": "={{ $json.output?.assistantMessage || $json.assistantMessage || '' }}",
              "type": "string"
            },
            {
              "id": "a23b37c3-9817-4344-9458-1407c23f6c08",
              "name": "canvas",
              "value": "={{ $('Config').item.json.mode === 'chat_only' ? { updated: false } : (($json.output?.canvas || $json.canvas || {}).updated ? { updated: true, content: ($json.output?.canvas?.content || $json.canvas?.content || ''), changeNote: ($json.output?.canvas?.changeNote || $json.canvas?.changeNote || '') } : { updated: false }) }}",
              "type": "object"
            },
            {
              "id": "187ef291-9392-4ec1-b20f-fca576fd4ac5",
              "name": "session",
              "value": "={{ { id: $('Config').item.json.session_id } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "2db95b1d-bb4d-410e-8f93-f2ab4698f60b",
      "name": "Build Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4800,
        1888
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { assistantMessage: $('Build Response').item.json.assistantMessage, canvas: $('Build Response').item.json.canvas, session: $('Build Response').item.json.session } }}",
        "options": {}
      },
      "id": "b99e2d1e-025f-4098-a42f-5be3d47e545a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5008,
        1888
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3H8d67oO7uOGswkPWASZL",
          "mode": "list",
          "cachedResultUrl": "/workflow/3H8d67oO7uOGswkPWASZL",
          "cachedResultName": "Update Token Usage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $execution.id }}",
            "user_id": "={{ $('Config').item.json.user_id }}",
            "provider": "={{ $('Config').item.json.provider }}",
            "model": "={{ $('Config').item.json.model }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "e295f7e9-2fcb-4c0d-8905-84455df2956d",
      "name": "Call Update Token Usage",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5008,
        2096
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Test Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Config": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Prompt Coach Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Coach Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Prompt Coach Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Prompt Coach Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Coach Agent": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Update Token Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "tags": []
}
