n8n/Skill Coach.json
{
  "name": "Skill Coach",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "skill-coach",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3600,
        1888
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y2M2gm8PMqf8Owkp",
          "name": "Auth Header"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "showWelcomeScreen": false
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        3600,
        2096
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
              "name": "test_user_id",
              "value": "aef5c843-a2f5-423b-8c7e-676777ef231f",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
              "name": "test_workspace_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
              "name": "test_skill_id",
              "value": "draft",
              "type": "string"
            },
            {
              "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
              "name": "test_mode",
              "value": "chat_only",
              "type": "string"
            },
            {
              "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
              "name": "test_message",
              "value": "={{ $json.chatInput || 'Can you help me improve this skill?' }}",
              "type": "string"
            },
            {
              "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
              "name": "test_canvas_content",
              "value": "You are an expert assistant. When answering questions, follow a chain-of-thought approach: first reason step by step, then provide a concise final answer.",
              "type": "string"
            },
            {
              "id": "c9d0e1f2-a3b4-5678-2345-789012345678",
              "name": "test_selection",
              "value": "={{ null }}",
              "type": "object"
            },
            {
              "id": "d0e1f2a3-b4c5-6789-3456-890123456789",
              "name": "test_session_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7890-4567-901234567890",
      "name": "Test Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3792,
        2096
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2a3b4c5-d6e7-8901-5678-012345678901",
              "name": "user_id",
              "value": "={{ $json.body?.user_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_user_id : '') }}",
              "type": "string"
            },
            {
              "id": "a3b4c5d6-e7f8-9012-6789-123456789012",
              "name": "workspace_id",
              "value": "={{ $json.body?.workspace_id ?? ($('Test Config').isExecuted ? $('Test Config').item.json.test_workspace_id : '') }}",
              "type": "string"
            },
            {
              "id": "b4c5d6e7-f8a9-0123-7890-234567890123",
              "name": "artifact_type",
              "value": "={{ $json.body?.artifact_type || 'skill' }}",
              "type": "string"
            },
            {
              "id": "c5d6e7f8-a9b0-1234-8901-345678901234",
              "name": "skill_id",
              "value": "={{ $json.body?.skill_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_skill_id : 'draft') || 'draft' }}",
              "type": "string"
            },
            {
              "id": "d6e7f8a9-b0c1-2345-9012-456789012345",
              "name": "mode",
              "value": "={{ $json.body?.mode || ($('Test Config').isExecuted ? $('Test Config').item.json.test_mode : 'chat_only') || 'chat_only' }}",
              "type": "string"
            },
            {
              "id": "e7f8a9b0-c1d2-3456-0123-567890123456",
              "name": "message",
              "value": "={{ $json.body?.message || ($('Test Config').isExecuted ? $('Test Config').item.json.test_message : '') }}",
              "type": "string"
            },
            {
              "id": "f8a9b0c1-d2e3-4567-1234-678901234567",
              "name": "canvas_content",
              "value": "={{ $json.body?.canvas_content || ($('Test Config').isExecuted ? $('Test Config').item.json.test_canvas_content : '') }}",
              "type": "string"
            },
            {
              "id": "a9b0c1d2-e3f4-5678-2345-789012345678",
              "name": "selection",
              "value": "={{ $json.body?.selection ?? ($('Test Config').isExecuted ? $('Test Config').item.json.test_selection : null) }}",
              "type": "object"
            },
            {
              "id": "b0c1d2e3-f4a5-6789-3456-890123456789",
              "name": "provider",
              "value": "openrouter",
              "type": "string"
            },
            {
              "id": "c1d2e3f4-a5b6-7890-4567-901234567890",
              "name": "model",
              "value": "openai/gpt-4o-mini",
              "type": "string"
            },
            {
              "id": "d2e3f4a5-b6c7-8901-5678-012345678901",
              "name": "session_id",
              "value": "={{ $json.body?.session_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_session_id : '') || `${($json.body?.workspace_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_workspace_id : '') || 'personal')}:${($json.body?.user_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_user_id : ''))}:${($json.body?.skill_id || ($('Test Config').isExecuted ? $('Test Config').item.json.test_skill_id : 'draft') || 'draft')}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e3f4a5b6-c7d8-9012-6789-123456789013",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3984,
        1888
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Config').item.json.session_id }}",
        "tableName": "prompt_coach_messages",
        "contextWindowLength": 12
      },
      "id": "f4a5b6c7-d8e9-0123-7890-234567890124",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4224,
        2112
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "a5b6c7d8-e9f0-1234-8901-345678901235",
      "name": "OpenRouter LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4416,
        2112
      ],
      "credentials": {
        "openRouterApi": {
          "id": "MGQPWNIqP5IqzT9c",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"assistantMessage\": { \"type\": \"string\" },\n    \"canvas\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"updated\": { \"type\": \"boolean\" },\n        \"content\": { \"type\": \"string\" },\n        \"changeNote\": { \"type\": \"string\" }\n      },\n      \"required\": [\"updated\"]\n    }\n  },\n  \"required\": [\"assistantMessage\", \"canvas\"]\n}"
      },
      "id": "b6c7d8e9-f0a1-2345-9012-456789012346",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4608,
        2112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=mode: {{ $('Config').item.json.mode }}\n\nuser_message:\n{{ $('Config').item.json.message }}\n\ncurrent_canvas_content:\n{{ $('Config').item.json.canvas_content }}\n\nselection:\n{{ JSON.stringify($('Config').item.json.selection) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are \"Skill Coach\", an expert LLM framework designer helping the user write and refine skills.\nA \"skill\" in Querino is a reusable LLM prompt framework (e.g. a structured system prompt, a chain-of-thought template, or a role definition) that can be applied across many tasks.\nYou always see the current skill canvas content.\nYou must follow the selected mode:\n- chat_only: explain, ask clarifying questions, suggest improvements, but DO NOT modify the canvas.\n- collab_edit: you MAY modify the canvas. Keep original intent, make minimal/safe improvements.\n\nYou MUST return ONLY valid JSON matching the Response Contract schema.\nNever return diffs. If updating, return the full updated canvas text.\n\nAdditional rules:\n- If mode is chat_only, return canvas.updated=false and do not provide canvas.content.\n- If mode is collab_edit and skill is updated, set canvas.updated=true and provide full updated canvas in canvas.content.\n- If mode is collab_edit and no changes are needed, return canvas.updated=false.\n\nSkills can be long — focus on structure, clarity, and reusability rather than brevity."
        }
      },
      "id": "c7d8e9f0-a1b2-3456-0123-567890123457",
      "name": "Skill Coach Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4416,
        1888
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8e9f0a1-b2c3-4567-1234-678901234568",
              "name": "assistantMessage",
              "value": "={{ $json.output?.assistantMessage || $json.assistantMessage || '' }}",
              "type": "string"
            },
            {
              "id": "e9f0a1b2-c3d4-5678-2345-789012345679",
              "name": "canvas",
              "value": "={{ $('Config').item.json.mode === 'chat_only' ? { updated: false } : (($json.output?.canvas || $json.canvas || {}).updated ? { updated: true, content: ($json.output?.canvas?.content || $json.canvas?.content || ''), changeNote: ($json.output?.canvas?.changeNote || $json.canvas?.changeNote || '') } : { updated: false }) }}",
              "type": "object"
            },
            {
              "id": "f0a1b2c3-d4e5-6789-3456-890123456780",
              "name": "session",
              "value": "={{ { id: $('Config').item.json.session_id } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7891-4567-901234567891",
      "name": "Build Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4800,
        1888
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { assistantMessage: $('Build Response').item.json.assistantMessage, canvas: $('Build Response').item.json.canvas, session: $('Build Response').item.json.session } }}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8902-5678-012345678902",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5008,
        1888
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3H8d67oO7uOGswkPWASZL",
          "mode": "list",
          "cachedResultUrl": "/workflow/3H8d67oO7uOGswkPWASZL",
          "cachedResultName": "Update Token Usage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $execution.id }}",
            "user_id": "={{ $('Config').item.json.user_id }}",
            "provider": "={{ $('Config').item.json.provider }}",
            "model": "={{ $('Config').item.json.model }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "c3d4e5f6-a7b8-9013-6789-123456789013",
      "name": "Call Update Token Usage",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5008,
        2096
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Test Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Config": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Skill Coach Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Skill Coach Agent": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Update Token Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c9a4e588d0c5a974e84e6ed4f6e56a2fb8570105db112657c26f9a39af9136b"
  },
  "id": "SkillCoach001QueryRino",
  "tags": []
}
