n8n/Suggest Claw Metadata.json
{
  "createdAt": "2026-02-02T19:38:58.212Z",
  "id": "Nt98LTSuqrrr312o",
  "name": "Suggest Claw Metadata",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "suggest-claw-metadata",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c4bdf6c7-571b-4097-bdde-5811dddfd05a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4688,
        1504
      ],
      "webhookId": "b4e80832-b538-455b-aac9-4c01817122f5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y2M2gm8PMqf8Owkp",
          "name": "Auth Header"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "ac4e42e0-0fc5-4dc4-8c8a-452dff9774ac",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5760,
        1312
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A concise title, max 60 characters\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"A one-sentence summary, max 160 characters\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"One of: writing, coding, analysis, creative, business, education, other\"\n    },\n    \"tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"3-5 relevant keywords\"\n    }\n  }\n}",
        "autoFix": true
      },
      "id": "8b8f05a8-d841-41f1-ac48-9b07c3d29975",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        5392,
        1632
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "showWelcomeScreen": false
        }
      },
      "id": "214b86ed-0e81-4261-aa3d-7d43a1392f66",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        4464,
        1312
      ],
      "webhookId": "08a65c75-f8cd-4d86-b614-222f4f019076"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config').item.json.claw_content }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a Claw metadata analyzer, for claws for Clawdbot, Moltbot or OpenClaw. Your job is to analyze thes LLM claws and generate metadata ABOUT the claw itself, not what it outputs.\n\nCRITICAL DISTINCTION:\n- You are describing THE CLAW (the instructions), \n- Think of it like cataloging a recipe: you describe what the recipe teaches you to make, not the taste of the food\n\nFIELD DEFINITIONS:\n\n1. TITLE (max 60 characters):\n   - A short, descriptive name for the claw\n   - Should indicate what type of content or task the claw is designed for\n   - Examples: \"Validate Codebase Claw\", \"Generate Stubs\", \"Book Formatting Claw\"\n\n2. DESCRIPTION (max 400 characters):\n   - Explains what the claw INSTRUCTIONS make the AI doing\n   - Describes the claw's PURPOSE and STRUCTURE\n   - Must start with a verb like \"Generates\", \"Creates\", \"Helps\", \"Guides\", \"Instructs\"\n\n\n3. CATEGORY (choose exactly one):\n   - writing: claws for written content (articles, emails, stories)\n   - coding: claws for programming tasks\n   - analysis: claws for reviewing, summarizing, or evaluating content\n   - creative: claws for jokes, art descriptions, brainstorming, entertainment\n   - business: claws for professional/corporate tasks\n   - education: claws for teaching or learning\n   - other: only if none of the above fit\n\n4. TAGS (3-5 keywords):\n   - Relevant keywords describing the claw's domain, style, or use case\n   - Use lowercase, no special characters\n\nRespond ONLY with valid JSON in this exact format:\n{\"title\":\"...\",\"description\":\"...\",\"category\":\"...\",\"tags\":[\"tag1\",\"tag2\",\"tag3\"]}"
        }
      },
      "id": "52eb28d0-da2c-4c4f-875a-fbd57cdb2c18",
      "name": "Metadata Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5168,
        1408
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d101327-e4ba-4681-a530-e756298649e3",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "51454097-e33d-46c4-ae6b-06b7053bec4b",
              "name": "test_content",
              "value": "=# Lovable Prompt Builder\n\nTransform application documentation into effective Lovable prompts for building data-driven, multi-user, and multi-tenant applications through an iterative, one-prompt-at-a-time workflow.\n\n## When to Use This Skill\n\nUse this skill when:\n- Building applications in Lovable from documentation\n- Converting user journeys into sequential prompts\n- Working with feature lists, wireframes, or user role definitions\n- Creating data-driven apps with complex requirements\n- Building multi-user or multi-tenant SaaS applications\n- Need guidance on prompt sequencing and architecture\n\n## Core Workflow\n\n### Step 1: Analyze Documentation\n### Step 2: Plan Prompt Sequence\n### Step 3: Generate First Prompt\n### Step 4: Wait for User Feedback\n### Step 5: Adapt and Continue",
              "type": "string"
            },
            {
              "id": "42e06ad6-3114-478a-8cd8-5374352644af",
              "name": "test_user_id",
              "value": "aef5c843-a2f5-423b-8c7e-676777ef231f",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4688,
        1312
      ],
      "id": "7e29f01d-1f5e-48b6-8eba-19e4a768d39d",
      "name": "Test Config"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "claw_content",
              "value": "={{ $json.body?.claw_content || ($('Test Config').isExecuted ? $('Test Config').item.json.test_content : '') }}",
              "type": "string"
            },
            {
              "id": "e1f5a251-a52b-4545-8ff1-ac725e619984",
              "name": "user_id",
              "value": "={{ $json.body?.user_id ?? $('Test Config').item.json.test_user_id }}",
              "type": "string"
            },
            {
              "id": "a23cc596-d611-4991-b436-3c7ccc3ba130",
              "name": "provider",
              "value": "openai",
              "type": "string"
            },
            {
              "id": "fd8520cd-0180-4aab-80c4-7173ad4c3600",
              "name": "model",
              "value": "chatgpt5.2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4741e443-fc7e-4c33-aa85-d3441f0cb927",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4912,
        1408
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3H8d67oO7uOGswkPWASZL",
          "mode": "list",
          "cachedResultUrl": "/workflow/3H8d67oO7uOGswkPWASZL",
          "cachedResultName": "Update Token Usage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $execution.id }}",
            "user_id": "={{ $('Config').item.json.user_id }}",
            "provider": "={{ $('Config').item.json.provider }}",
            "model": "={{ $('Config').item.json.model }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5760,
        1504
      ],
      "id": "fafac245-d530-483d-b6e8-31fb05257312",
      "name": "Call Update Token Usage"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5264,
        1632
      ],
      "id": "44930d11-2875-4477-8c9e-53c1d93412f2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8CuSxQ6wXk1W313i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5.2-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        5136,
        1632
      ],
      "id": "1a56f00b-e440-43f2-98e2-031b702f6804",
      "name": "Azure gpt-5.2-chat",
      "credentials": {
        "azureOpenAiApi": {
          "id": "sxHNB4I1TmPFfLdr",
          "name": "Azure gpt-5.2-chat"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5.2-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        5472,
        1840
      ],
      "id": "9ad3e9ca-3863-42b8-a83e-1640fbb46b91",
      "name": "Azure gpt-5.2-chat Parser",
      "credentials": {
        "azureOpenAiApi": {
          "id": "sxHNB4I1TmPFfLdr",
          "name": "Azure gpt-5.2-chat"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Metadata Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Test Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata Generator": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Update Token Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Config": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Metadata Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure gpt-5.2-chat": {
      "ai_languageModel": [
        [
          {
            "node": "Metadata Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Metadata Generator",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Azure gpt-5.2-chat Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": "8b4d8536-7e93-40fe-8ed7-db20bf44291f",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-02T19:38:58.214Z",
      "createdAt": "2026-02-02T19:38:58.214Z",
      "role": "workflow:owner",
      "workflowId": "Nt98LTSuqrrr312o",
      "projectId": "KAIlKHCcR6KpTc3t"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-21T19:11:00.000Z",
    "createdAt": "2026-02-21T19:10:57.535Z",
    "versionId": "8b4d8536-7e93-40fe-8ed7-db20bf44291f",
    "workflowId": "Nt98LTSuqrrr312o",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "suggest-claw-metadata",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "c4bdf6c7-571b-4097-bdde-5811dddfd05a",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          4688,
          1504
        ],
        "webhookId": "b4e80832-b538-455b-aac9-4c01817122f5",
        "credentials": {
          "httpHeaderAuth": {
            "id": "Y2M2gm8PMqf8Owkp",
            "name": "Auth Header"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "ac4e42e0-0fc5-4dc4-8c8a-452dff9774ac",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          5760,
          1312
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A concise title, max 60 characters\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"A one-sentence summary, max 160 characters\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"One of: writing, coding, analysis, creative, business, education, other\"\n    },\n    \"tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"3-5 relevant keywords\"\n    }\n  }\n}",
          "autoFix": true
        },
        "id": "8b8f05a8-d841-41f1-ac48-9b07c3d29975",
        "name": "Structured Output Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          5392,
          1632
        ]
      },
      {
        "parameters": {
          "public": true,
          "options": {
            "showWelcomeScreen": false
          }
        },
        "id": "214b86ed-0e81-4261-aa3d-7d43a1392f66",
        "name": "Chat Trigger",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          4464,
          1312
        ],
        "webhookId": "08a65c75-f8cd-4d86-b614-222f4f019076"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Config').item.json.claw_content }}",
          "hasOutputParser": true,
          "needsFallback": true,
          "options": {
            "systemMessage": "You are a Claw metadata analyzer, for claws for Clawdbot, Moltbot or OpenClaw. Your job is to analyze thes LLM claws and generate metadata ABOUT the claw itself, not what it outputs.\n\nCRITICAL DISTINCTION:\n- You are describing THE CLAW (the instructions), \n- Think of it like cataloging a recipe: you describe what the recipe teaches you to make, not the taste of the food\n\nFIELD DEFINITIONS:\n\n1. TITLE (max 60 characters):\n   - A short, descriptive name for the claw\n   - Should indicate what type of content or task the claw is designed for\n   - Examples: \"Validate Codebase Claw\", \"Generate Stubs\", \"Book Formatting Claw\"\n\n2. DESCRIPTION (max 400 characters):\n   - Explains what the claw INSTRUCTIONS make the AI doing\n   - Describes the claw's PURPOSE and STRUCTURE\n   - Must start with a verb like \"Generates\", \"Creates\", \"Helps\", \"Guides\", \"Instructs\"\n\n\n3. CATEGORY (choose exactly one):\n   - writing: claws for written content (articles, emails, stories)\n   - coding: claws for programming tasks\n   - analysis: claws for reviewing, summarizing, or evaluating content\n   - creative: claws for jokes, art descriptions, brainstorming, entertainment\n   - business: claws for professional/corporate tasks\n   - education: claws for teaching or learning\n   - other: only if none of the above fit\n\n4. TAGS (3-5 keywords):\n   - Relevant keywords describing the claw's domain, style, or use case\n   - Use lowercase, no special characters\n\nRespond ONLY with valid JSON in this exact format:\n{\"title\":\"...\",\"description\":\"...\",\"category\":\"...\",\"tags\":[\"tag1\",\"tag2\",\"tag3\"]}"
          }
        },
        "id": "52eb28d0-da2c-4c4f-875a-fbd57cdb2c18",
        "name": "Metadata Generator",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          5168,
          1408
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2d101327-e4ba-4681-a530-e756298649e3",
                "name": "chatInput",
                "value": "={{ $json.chatInput }}",
                "type": "string"
              },
              {
                "id": "51454097-e33d-46c4-ae6b-06b7053bec4b",
                "name": "test_content",
                "value": "=# Lovable Prompt Builder\n\nTransform application documentation into effective Lovable prompts for building data-driven, multi-user, and multi-tenant applications through an iterative, one-prompt-at-a-time workflow.\n\n## When to Use This Skill\n\nUse this skill when:\n- Building applications in Lovable from documentation\n- Converting user journeys into sequential prompts\n- Working with feature lists, wireframes, or user role definitions\n- Creating data-driven apps with complex requirements\n- Building multi-user or multi-tenant SaaS applications\n- Need guidance on prompt sequencing and architecture\n\n## Core Workflow\n\n### Step 1: Analyze Documentation\n### Step 2: Plan Prompt Sequence\n### Step 3: Generate First Prompt\n### Step 4: Wait for User Feedback\n### Step 5: Adapt and Continue",
                "type": "string"
              },
              {
                "id": "42e06ad6-3114-478a-8cd8-5374352644af",
                "name": "test_user_id",
                "value": "aef5c843-a2f5-423b-8c7e-676777ef231f",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4688,
          1312
        ],
        "id": "7e29f01d-1f5e-48b6-8eba-19e4a768d39d",
        "name": "Test Config"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id-1",
                "name": "claw_content",
                "value": "={{ $json.body?.claw_content || ($('Test Config').isExecuted ? $('Test Config').item.json.test_content : '') }}",
                "type": "string"
              },
              {
                "id": "e1f5a251-a52b-4545-8ff1-ac725e619984",
                "name": "user_id",
                "value": "={{ $json.body?.user_id ?? $('Test Config').item.json.test_user_id }}",
                "type": "string"
              },
              {
                "id": "a23cc596-d611-4991-b436-3c7ccc3ba130",
                "name": "provider",
                "value": "openai",
                "type": "string"
              },
              {
                "id": "fd8520cd-0180-4aab-80c4-7173ad4c3600",
                "name": "model",
                "value": "chatgpt5.2",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "4741e443-fc7e-4c33-aa85-d3441f0cb927",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4912,
          1408
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "3H8d67oO7uOGswkPWASZL",
            "mode": "list",
            "cachedResultUrl": "/workflow/3H8d67oO7uOGswkPWASZL",
            "cachedResultName": "Update Token Usage"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "execution_id": "={{ $execution.id }}",
              "user_id": "={{ $('Config').item.json.user_id }}",
              "provider": "={{ $('Config').item.json.provider }}",
              "model": "={{ $('Config').item.json.model }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "execution_id",
                "displayName": "execution_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "provider",
                "displayName": "provider",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "model",
                "displayName": "model",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          5760,
          1504
        ],
        "id": "fafac245-d530-483d-b6e8-31fb05257312",
        "name": "Call Update Token Usage"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          5264,
          1632
        ],
        "id": "44930d11-2875-4477-8c9e-53c1d93412f2",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "8CuSxQ6wXk1W313i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": "gpt-5.2-chat",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
        "typeVersion": 1,
        "position": [
          5136,
          1632
        ],
        "id": "1a56f00b-e440-43f2-98e2-031b702f6804",
        "name": "Azure gpt-5.2-chat",
        "credentials": {
          "azureOpenAiApi": {
            "id": "sxHNB4I1TmPFfLdr",
            "name": "Azure gpt-5.2-chat"
          }
        }
      },
      {
        "parameters": {
          "model": "gpt-5.2-chat",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
        "typeVersion": 1,
        "position": [
          5472,
          1840
        ],
        "id": "9ad3e9ca-3863-42b8-a83e-1640fbb46b91",
        "name": "Azure gpt-5.2-chat Parser",
        "credentials": {
          "azureOpenAiApi": {
            "id": "sxHNB4I1TmPFfLdr",
            "name": "Azure gpt-5.2-chat"
          }
        }
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Metadata Generator",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Chat Trigger": {
        "main": [
          [
            {
              "node": "Test Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Metadata Generator": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call Update Token Usage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Test Config": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Metadata Generator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Azure gpt-5.2-chat": {
        "ai_languageModel": [
          [
            {
              "node": "Metadata Generator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Metadata Generator",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Azure gpt-5.2-chat Parser": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Michael Zelbel",
    "name": "Version 8b4d8536",
    "description": "",
    "autosaved": false
  },
  "tags": []
}