n8n/Translate Artifact.json
{
  "name": "Translate Artifact",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "translate-artifact",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [400, 500],
      "webhookId": "translate-artifact-webhook-001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Header Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-title",
              "name": "title",
              "value": "={{ $json.body.title || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-description",
              "name": "description",
              "value": "={{ $json.body.description || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-content",
              "name": "content",
              "value": "={{ $json.body.content || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-tags",
              "name": "tags",
              "value": "={{ JSON.stringify($json.body.tags || []) }}",
              "type": "string"
            },
            {
              "id": "cfg-source-lang",
              "name": "sourceLanguage",
              "value": "={{ $json.body.sourceLanguage }}",
              "type": "string"
            },
            {
              "id": "cfg-target-lang",
              "name": "targetLanguage",
              "value": "={{ $json.body.targetLanguage }}",
              "type": "string"
            },
            {
              "id": "cfg-artifact-type",
              "name": "artifactType",
              "value": "={{ $json.body.artifactType || 'artifact' }}",
              "type": "string"
            },
            {
              "id": "cfg-user-id",
              "name": "user_id",
              "value": "={{ $json.body.user_id || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 500]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Translate the following {{ $('Config').item.json.artifactType }} from {{ $('Config').item.json.sourceLanguage }} to {{ $('Config').item.json.targetLanguage }}.\n\nTitle: {{ $('Config').item.json.title }}\n\nDescription: {{ $('Config').item.json.description }}\n\nContent:\n{{ $('Config').item.json.content }}\n\nTags: {{ $('Config').item.json.tags }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a professional translator specializing in technical and creative content. Your job is to translate artifact metadata and content from one language to another while preserving meaning, structure, and formatting.\n\nRules:\n- Preserve all markdown formatting, structure, and syntax exactly\n- Preserve template variables like {{variable}} exactly as-is — do NOT translate them\n- Translate tags contextually (they are short keywords/phrases)\n- Keep code blocks, URLs, and technical identifiers untranslated\n- Maintain the same tone and style as the original\n- If the content contains technical jargon, use the standard terminology in the target language\n\nRespond ONLY with valid JSON in this exact format:\n{\"title\":\"...\",\"description\":\"...\",\"content\":\"...\",\"tags\":[\"tag1\",\"tag2\"]}"
        }
      },
      "id": "a1b2c3d4-3333-4aaa-bbbb-000000000003",
      "name": "Translation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [880, 500],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Translated title\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"Translated description\"\n    },\n    \"content\": {\n      \"type\": \"string\",\n      \"description\": \"Translated content preserving all markdown formatting\"\n    },\n    \"tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"Translated tags\"\n    }\n  },\n  \"required\": [\"title\", \"description\", \"content\", \"tags\"]\n}",
        "autoFix": true
      },
      "id": "a1b2c3d4-4444-4aaa-bbbb-000000000004",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1060, 720]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.2-chat"
        },
        "options": {}
      },
      "id": "a1b2c3d4-5555-4aaa-bbbb-000000000005",
      "name": "Azure gpt-5.2-chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1.2,
      "position": [780, 720],
      "credentials": {
        "azureOpenAiApi": {
          "id": "",
          "name": "Azure OpenAI"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-6666-4aaa-bbbb-000000000006",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [900, 720],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.2-chat"
        },
        "options": {}
      },
      "id": "a1b2c3d4-7777-4aaa-bbbb-000000000007",
      "name": "Azure gpt-5.2-chat Parser",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1.2,
      "position": [1180, 900],
      "credentials": {
        "azureOpenAiApi": {
          "id": "",
          "name": "Azure OpenAI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a1b2c3d4-8888-4aaa-bbbb-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1200, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL || '' }}/webhook/update-token-usage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Config').item.json.user_id }}\",\n  \"workflow_name\": \"Translate Artifact\",\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"n8n_execution_id\": \"{{ $execution.id }}\",\n  \"feature\": \"translate\",\n  \"prompt_tokens\": {{ $json.tokenUsage?.promptTokens || $json.output?.tokenUsage?.promptTokens || 0 }},\n  \"completion_tokens\": {{ $json.tokenUsage?.completionTokens || $json.output?.tokenUsage?.completionTokens || 0 }},\n  \"total_tokens\": {{ $json.tokenUsage?.totalTokens || $json.output?.tokenUsage?.totalTokens || 0 }},\n  \"model\": \"gpt-5.2-chat\",\n  \"provider\": \"azure\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-9999-4aaa-bbbb-000000000009",
      "name": "Call Update Token Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 600],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Header Auth"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "showWelcomeScreen": false
        }
      },
      "id": "a1b2c3d4-aaaa-4aaa-bbbb-00000000000a",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [200, 300],
      "webhookId": "translate-artifact-chat-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test-title",
              "name": "title",
              "value": "My Test Prompt",
              "type": "string"
            },
            {
              "id": "test-desc",
              "name": "description",
              "value": "A test prompt for translation",
              "type": "string"
            },
            {
              "id": "test-content",
              "name": "content",
              "value": "You are a helpful assistant. Help the user with their task.",
              "type": "string"
            },
            {
              "id": "test-tags",
              "name": "tags",
              "value": "[\"assistant\", \"helper\", \"general\"]",
              "type": "string"
            },
            {
              "id": "test-source",
              "name": "sourceLanguage",
              "value": "English",
              "type": "string"
            },
            {
              "id": "test-target",
              "name": "targetLanguage",
              "value": "German",
              "type": "string"
            },
            {
              "id": "test-type",
              "name": "artifactType",
              "value": "prompt",
              "type": "string"
            },
            {
              "id": "test-user",
              "name": "user_id",
              "value": "test-user-123",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-bbbb-4aaa-bbbb-00000000000b",
      "name": "Test Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Test Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Config": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Translation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translation Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Update Token Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure gpt-5.2-chat": {
      "ai_languageModel": [
        [
          {
            "node": "Translation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Translation Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Translation Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Azure gpt-5.2-chat Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "tags": []
}
